.optionsPanelContainer{
    width: 5vw;
    border-right: 1px solid #343434;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;

    padding: 2rem 0;

    .optionIcons:hover{
        stroke: #89e9c9;
        cursor: pointer;
    }
}