.viewerContainer {
    height: 100vh;

    .toolBarDiv {
        height: 10vh;
        border-bottom: 1px solid #343434;
    }

    .panelContainer {
        height: 90vh;
        display: flex;
    }
}