@use "../../styles/mixins" as *;

.viewerDiv,
.uploadButtonContainer,
.loaderDiv {
    width: 75vw;
    height: 100%;

    .viewerCanvas {
        height: 100%;
        width: 100%;
    }

    .viewerCanvas:focus {
        outline: solid 1px grey
    }
}

.loaderDiv {
    @include centerAlign(row);

    img {
        width: 100px;
        height: 100px
    }
}

.uploadButtonContainer {
    @include centerAlign(row);

    .uploadButton {
        @include centerAlign(row);
        gap: 1rem;
        border: 1px solid #343434;
        padding: 1rem;
        border-radius: 1rem;
        cursor: pointer;
    }
}